:root {
    --primary-100:#5DA399;
    --primary-200:#40867d;
    --primary-300:#004840;
    --accent-100:#FF6B6B;
    --accent-200:#ff4949;
    --accent-300:#8f001a;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#E0E7E9;
    --bg-200:#d6dddf;
    --bg-300:#aeb5b7;


  }

  body {

    background-image: linear-gradient(to right top, #e0e7e9, #dee5e7, #dce3e5, #dae1e3, #d8dfe1, #d4dbdd, #d0d7d9, #ccd3d5, #c4cbcd, #bdc4c6, #b5bcbe, #aeb5b7);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}


label{
    color: var(--primary-300);
}


input{
    margin-top: 2vh;
}


.card{
    background-color: var(--bg-200);
    color: var(--text-100);
    border-style: double;
    border-color: var(--accent-100);
    margin-bottom: 1vh;
}
.btn{
    background-color: var(--accent-200);
    color: var(--bg-100);
    margin-top: 2vh;
  }

  .btn:hover{
    background-color: var(--accent-300);
    color: var(--bg-100);
  }
